section, article {
	height: 100vh;
	width: 100%;
} 
}
article {margin: 0 auto !important;}
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 107px 0px 102px 0px !important;
    height: 640px;
}
.jumbo {
  margin-top: 50px;
}
.seo-header, .product-header, .intro-type h1.white, .company-heading h1 {
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 55px;
    margin-bottom: 20px;
}
.parallax {
    background-attachment: fixed;
}
.parallax {
    background-attachment: fixed;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.ct-btn-scroll-1 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
img, figure {
    max-width: 100%;
}


.hello {
    position: absolute; /* or absolute */
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}
.hellotext
{
	margin-top: 0em;
    margin-bottom: 1em;
    align: center;
    color: white;
    font-family: "Arial";
    font-size: 100px;
    font-weight: bold;
}
.btn {
  	margin-right: 2em;
  	margin-bottom: 2em;
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: normal !important;
	font-size: 17px !important;
	letter-spacing: 5px;
	vertical-align: middle !important;
	border: 1px solid !important;
	padding: 10px 10px 10px 10px !important;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    	color: white;
	border-color: white;
}
.btn:hover {
	background: white;
	color: black;
	border-color: white !important;		
}
.btn-large {
	font-size: 1.0625em;
	padding: 0.7em 1.5em;
}
.nameis {
    margin-top: 1em;
    margin-bottom: 0.5em;
    align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100px;
    font-weight: 900;
}
.buttons {
	margin-bottom: 10em;
	margin-top: 5em;
}
.about-image {
	margin-top: 1em;
	margin-bottom: 1em;
}
.about-header {
	font-size: 60px;
}
.content {font-family: 'Lato', sans-serif;}
.header {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	letter-spacing: 0px;
}
.ct-btn-scroll-2 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.jumbotron1 {
	height: 100vh;
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
    	z-index: -10;
}

.ct-btn-scroll-3 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.edu-left {
	background-image: url(https://image.ibb.co/fYwsJK/LHP2.png);
	float: left;
	width: 50%;
	height: 100vh;
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: absolute;
	height: 100%;
	left: 0px;
    	z-index: -10;
}
.edu-right {
	float: right;
	width: 50%;
	right: 0px;
}
.edu-left-title { 
	line-height: 700px;
	font-size: 60px;
	color: white;
}
.ec-left {
	float: left;
	width: 50%;
	left: 0px;
}
.ec-right {
	background-image: url(https://i.imgur.com/Xb4lMt7.jpg);
	float: right;
	width: 50%;
	height: 100vh;
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: absolute;
	height: 100%;
	right: 0px;
    	z-index: -10;
}
.ec-right-title {
	line-height: 700px;
	font-size: 60px;
	color: white;
}
.collapse-blocks {
	margin-top: 30px;
}
/* Style the button that is used to open and close the collapsible content */
.act-header {
	background-color: white;
	color: #444;
	cursor: pointer;
	padding: 18px 18px 18px 50px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .act-header:hover {
	background-color: #ccc;
}
.act-content {
	padding: 0 18px 0 50px;
	background-color: #f1f1f1;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	text-align: left;
}
.act-header:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.ct-btn-scroll-4 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.sai-left {
	background-image: url(https://image.ibb.co/jYSK0z/Skills.png);
	float: left;
	width: 50%;
	height: 100vh;
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: absolute;
	height: 100%;
	left: 0px;
    	z-index: -10;
}
.sai-right {
	float: right;
	width: 50%;
	right: 0px;
}
.sai-left-title { 
	line-height: 700px;
	font-size: 60px;
	color: white;
}
.skills-blocks, .interests-blocks {
	display: table;
	display: inline-block !important;
	<!--margin-right: 1em;-->
	<!--margin-left: 1em;-->
	<!--padding: 25px 25px 25px 25px;-->
	height: 40vh;
	width: 100vh;
	font-size: 16px;
	line-height:50px;
	margin-top: 15px !important;
}
.ct-btn-scroll-5 {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.contact-icons-pack {
	display: table;
	margin: 0 auto;
}
.contact-icons {
	display: inline-block;
	margin-right: 1em;
	margin-left: 1em;
	padding: 25px 25px 150px 25px;
	height: 50px;
	font-size: 16px;
	line-height:50px;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	display: inline-block;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 30vh;
	height: 40vh;
	margin-right: 10px;
	<!--margin-left: 5px;-->
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: #f7ff82;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: #faffad;
}
.front1 {
	background-image: url(https://cdn-images-1.medium.com/max/1600/1*iFN_PWPWs6TQ9JzDp2v9Wg.jpeg);
	background-attachment: fixed;
    	background-position: right;
    	background-repeat: no-repeat;
    	background-size: 80%;
}
.front2 {
	background-image: url(http://www.latechamienoise.com/medias/images/photoshop-1065296-960-720.jpg);
	background-attachment: fixed;
    	background-position: right;
    	background-repeat: no-repeat;
    	background-size: 50%;
}
.front4 {
	background-image: url(https://i.imgur.com/eu4vZ8x.jpg);
	background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 45%;
}
.front5 {
	background-image: url(https://i.imgur.com/UdQnDQ1.png);
	background-attachment: fixed;
    	background-position: right;
    	background-repeat: no-repeat;
    	background-size: 50%;
}